.Stretch-button {
    background-color: green;
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    transition: padding-top 1s,
        padding-bottom 1s,
        padding-right 1s,
        padding-left 1s;

}
.Stretch-button:hover {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
