
    p {
        font-family: Arial;
    }
    .video-title {
        
        font-size: 20px;
        font-weight: bold;
        width: 350px;
        line-height: 28px;
        margin-bottom: 0px;
    }
    .video-stats {
        font-family: Arial;
        font-size: 15px;
        color: rgb(96, 96, 96);
        margin-top: 3px;
    }    

    .video-author {
        font-family: arial;
        font-size: 15px;
        color: rgb(96, 96, 96);
        margin-top: 0px;
        margin-bottom: 20px;
    }
    .video-description {
        font-family: Arial;
        color: rgb(96, 96, 96);
        font-size: 14px;
        width: 300px;
        line-height: 20px;
        margin-top: 0px;
        margin-bottom: 100px;
    }
    .apple-text {
        margin-bottom: 50px;
        font-size: 14px;
        background-color: rgb(227, 65, 64);
        color: white;
        text-align: right;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 20px;
        padding-right: 60px;
    }
    .span-example:hover {
        text-decoration: underline;
    }
    .shop-link {
        cursor: pointer;
    }
    .shop-link:hover {
        text-decoration: underline;
    }
